
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --moe-teal: #009688;
  --moe-navy: #0d333f;
}

body {
  font-family: 'Tajawal', sans-serif;
}

@layer components {
  .moe-gradient {
    @apply bg-gradient-to-br from-[#00737a] to-[#009688];
  }
}

@media print {
  .no-print { display: none !important; }
}
